@import "../../vars.css";

.modalInner {
    z-index: 99999;
    overflow: hidden;

    display: flex;
    justify-content: center;
    flex-direction: column;

    max-width: 280px;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal img {
    width: 100%;
    border-radius: 10px;
}

.modal h2 {
    color: white;
    font-size: calc(var(--button-font-size) - 5px);
    text-align: center;
}

.link {
    display: block;
    text-decoration: none;
}

.link:link {
    color: black;
}

.link:visited {
    color: black;
}