:root {
    --body-bg-color: #252424;
    --canvas-bg-color: white;
    --emojiPanel-bg-color: black;
    --emoji-size: 30px;
    --button-font-size: 32px;
    --button-bg-color: white;
    --margin: 20px;
}